body {
  color: #797979;
  background: #f1f2f7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.contenedorContenido{
  padding:20px;
  display: grid;
  margin-left: 20vw;
  width: 60vw;
}
.d-flex{
  width: 50%;
}
.navbar{
  max-height: 54px;
}
.form-container .btn{
  background: #c3dfe0;
  width: 100px;
  color: rgb(43, 146, 52);
 
  
}

.infoPerfil a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.bio-row #btnGuardar{
  background: #c3dfe0;
  color: rgb(43, 146, 52);
  border-radius: 10px;
  text-align: center;

}

.profile-nav, .profile-info{
  margin-top:30px;   
}
.profile-nav .user-heading {
  background: url(../img/fondo3.jpg);
  background-size: cover;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}
.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}
.profile-nav .user-heading p {
  font-size: 12px;
}
.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* .profile-nav ul > li:last-child {
  border-bottom: none;
}
 */
.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important;
}



.table-responsive tbody .name{
  text-align: left;
  width: 450px;
}
.table-responsive tbody .subject{
  text-align: left;
  width: 200px;
}
.table-responsive tbody .time{
  text-align: left;
  width: 150px;
}


.profile-nav ul > li > a > i{
  font-size: 20px;
  padding-right: 10px;
  color: #bcb3aa;
}
.menu{
  height: 200px;
}
.menu ul{
  display: flex;
  height: 70%;
  flex-direction: column;
  min-width: 200px;
  align-self: center;
  justify-content: space-evenly;
}
.bio-graph-heading {
  background: #4e73df;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}
.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}
.panel  h1{
  background: rgba(56, 81, 223, 0.1);
  text-align: center;
  font-size: 30px;
  
}
.panel  h2{
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  
}
.panel .row{
  font-size: 14px;
}
.panel .row input{
  width: 200px;
}



.panel-body {
  margin-top: 30px;

}

.bio-row {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
  padding:0 15px 0 15px;
}
.bio-row input{
  background: none;
  border: 0;
  text-align: left;
}
.bio-row p span {
  width: 100px;
  display: inline-block;
}

.bio-chart, .bio-desk {
  float: left;
}

.bio-chart {
  width: 40%;
}
