*{
    margin: 0;
    padding: 0;
}
img{
    height: 200px;
    width: 280px;
    object-fit: cover;
}
body{
    background: white;
    color: black;
}
#imgName{
    cursor: pointer;
}
.menu ul{
    display: flex;
    height: 70%;
    flex-direction: column;
    min-width: 200px;
    align-self: center;
    justify-content: space-evenly;
}
.contenedor{
    margin-top: 3px;
    margin-left: 15px;
    width: 99vw;
    display: grid;
    
    gap: 15px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:"logo           estado              novedades"
                        "logo           estado              novedades"
                        "menu           mis-publicaciones   novedades"
                        "menu           mis-publicaciones   novedades"
                        "developerteam  mis-publicaciones   novedades";
}
.contenedor .logo{
    grid-area: logo;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    width: 50%;
}
.logo img{
    width: 150px;
    height: 127px;
    will-change: none;
}
.contenedor .menu{
    height:200px;
    min-height: 350px;
    grid-area: menu;
    font-size: 25px;
    color: black;
    will-change: none;

}
.contenedor .estado{
    background-color: rgb(233, 247, 247);
    padding: 10px;
    grid-area: estado;

} 

.estado textarea{
    margin-left: 40px;
    font-size: 25px;
    height: 100px;
    width: 800px;
    outline: none;
    border: none;
}
.cargarimagen{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    
    
}

.cargarimagen .enviar,
    .cargar  {
        background: #c3dfe0;
        padding: 5px;
        border-radius: 25px;
        
    /* 
    text-align: center;
    border: none; 
     */
    
}
.enviar label {
    cursor: pointer;
}
.cargar label{
    cursor: pointer;

}
.cargar .cajaCargar{
    position: absolute; 
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    
}
.cajaCargar input{
    width: 80px;
    background-color: #FF0000;
    position:relative ;
    height: 60px;
    display: none;
}
.btnEnviar{
    background: #C00000;
    width: 100px;
    height: 40px;
    display: none;
}
.contenedor .mis-publicaciones{
	gap: 20px;
    background-color: rgb(233, 247, 247);
    grid-area: mis-publicaciones;
    margin: 2px;
}
.contenedor h1{
    font-size: 30px;
}
.contenedor-publicaciones{
    display: grid;
    height: 590px;
    overflow: auto;
    background: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;
    margin: 2px;
}

.contenedor .novedad{
    padding: 20px;
	background: #fff;
	box-shadow: 0 4px 20px rgba(194,194,194,.25);
	border-radius: 5px;
    margin: 2px;
	display: grid;
}

.contenedor .novedades{
    background-color: rgb(233, 247, 247);
    grid-area: novedades;
    margin: 2PX;
    overflow: auto;
    height: 827px;
}
.novedad .titulo {
	color: #C00000;
	font-size: 20px;
	margin: 0;
}
.contenedor .footer{
    max-height:150px ;
}

.novedad button{
	margin-right: 20px;
	text-align: left;
	border: none;
	background: none;
	padding: 0;
}
.botones a {
    margin-left: 15px;;
	
}


.favoritos i {color: #FF0000;}
.comentario i {color: #00C2FF;}
.retweets i {color: #40C800;}
 
.contenedor .menu{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
.contenedor .developerteam{
    max-height: 180px;
    color: grey;
    grid-area: developerteam;
    align-self: end;
}