<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/stylefeed.css">
    <script src="https://kit.fontawesome.com/6880bc3485.js" crossorigin="anonymous"></script>
    <link href="./static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href='/static/img/favicon.png' rel='shortcut icon' type='image/x-icon'/>
    <title>AcuarioFilia</title>
</head>
{% block body %}
{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for mensaje in mensajes %}
                    {{mensaje}}
            {% endfor %}                                      
        <button onclick="delete_flash(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>      
    {% endif %}
    {% endwith %}
    <script>
        function delete_flash(flash) {
            $(flash).parent().remove()
        }
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ACUARIOFILIA</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success bg-primary" type="submit">Search</button>
            </form>
            
            <div class="" id=""> <!-- falta corrgir -->
                <div class="">
                    {% if 'id' in session %}
                        <span class="navbar-text p-2 bd-highlight"> {{ session['fullname'] }} </span>
                        <!-- hay un bug en el logout realmente no cierra la sesion -->
                        <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Logout</a> </span>
                    {% else %}
                        <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Login</a> </span>
                        <!-- <span class="navbar-text p-2 bd-highlight"> <a href="{{'registro'}}">Registro</a> </span> -->
                    {% endif %}       
                </div>
            </div>
            <form class="d-flex" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                <input class="form-control me-2" type="search" name="palabra" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success bg-primary bg-dark" type="submit">Search</button>
              </form>
        </div>
    </nav>
    <div class="contenedor">
        <div class=logo>
            <img src="../static/img/logo.png" alt="logo.jpg" width="50%">
        </div>
        <form class= "estado" form action="{{url_for('addPost')}}" method="post" enctype="multipart/form-data">
            
            <textarea class="form-control form-control-user" name="nombre" id="nombre" ></textarea>
            <div class="cargarimagen">
                <input  id="imagen" name="imagen" type="file" multiple class="btn btn-user btn-block"
                
                >                     
                <button type="submit" class="btn btn-user btn-block">
                    <i class="far fa-paper-plane"></i> Enviar
                  </button>
                
            </div>
        </form> 
       
        <nav class="menu">
            <ul>
                {% if 'id' in session %}
                    <li class="fas fa-home " > <a href="{{'perfil'}}">Inicio</a></li>
                    <li class="fas fa-binoculars"> <a  href="{{'search'}}">Explora</a></li>
                    <li class="fas fa-users"> Amigos</li> 
                    <li class="fas fa-bullhorn"> Notificaciones</li> 
                    <li class="far fa-envelope"> Mensajes</li> 
                    <li class="fas fa-cogs"> <a href="{{'Dasboard'}}"> Administra </a></li> 
                {% else %}
                    <!-- ESTE ELSE SIRVE PARA CARGAR OPCIONES DE ADMINS Y SUP ADMINS
                        
                    <li class="fas fa-home " > <a href="{{'perfil'}}">Inicio</a></li>
                    <li class="fas fa-binoculars"> <a  href="{{'search'}}">Explora</a></li>
                    <li class="fas fa-cogs"> <a href="{{'Dasboard'}}"> Administra </a></li -->
                {% endif %} 
                 
            </ul>
        </nav>
        <div class="novedades">
            <h1>Novedades</h1>  
            {% for pub in posts %}
                <div class="novedad">
                    <h2 class="titulo">{% print(pub[2]) %}</h2>
                    <p class="texto">{% print(pub[3]) %}</p>
                    <a href="{{url_for('postdetail', codigo = pub[0]) }}">
                        <img src="static/images/post/{% print(pub[1]) %}"  alt="Card image cap">
                    <div class="botones">
                        <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="comentario"><i class="fas fa-comment"></i> </a>
                        {% print(pub[4]) %}
                        <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="favoritos"><i class="fas fa-heart"></i> </a>
                        {% print(pub[4]) %}

                        <button role="button" class="retweets"><i class="fas fa-retweet"></i> 100</button>
                    </div>
                </div>
                {% endfor %}
            </div>  

        <div class="developerteam">
            <h3>@grupo 10</h3>
        </div>
        <main class="mis-publicaciones">
            <h1>Mis Publicaciones</h1>
            <div class = "contenedor-publicaciones">

                    {% for pub in posts %}
                        <div class="imagen-publicada">
                            <a href="{{url_for('postdetail', codigo = pub[0]) }}">
                                <img src="static/images/post/{% print(pub[1]) %}"  alt="Card image cap">
                            </a>
                            <div class="botones">
                                <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="comentario"><i class="fas fa-comment"></i> </a>
                                {% print(pub[4]) %}
                                <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="favoritos"><i class="fas fa-heart"></i> </a>
                                {% print(pub[4]) %}
                            </div>
                        </div>
                    {% endfor %}  
            </div>
        </main>
    </div>
{% endblock %}
</html>