<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Acuariofilia - Perfil</title>
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/css/styleperfil.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6880bc3485.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
{% block body %}
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for mensaje in mensajes %}
                    {{mensaje}}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        function delete_flash(flash) {
            $(flash).parent().remove()
        }
        function habilitarCampos(){
            document.getElementById('nombre').disabled = false
            document.getElementById('apellido').disabled = false
            document.getElementById('pais').disabled = false
            document.getElementById('nacimiento').disabled = false
            document.getElementById('profesion').disabled = false
            document.getElementById('email').disabled = false
            document.getElementById('telefono').disabled = false
            document.getElementById('btnGuardar').disabled = false
            document.getElementById('btnGuardar').hidden = false
        }
        function inhabilitarCampos(){
            document.getElementById('nombre').disabled = true
            document.getElementById('apellido').disabled = true
            document.getElementById('pais').disabled = true
            document.getElementById('nacimiento').disabled = true
            document.getElementById('profesion').disabled = true
            document.getElementById('email').disabled = true
            document.getElementById('telefono').disabled = true
            document.getElementById('btnGuardar').disabled = true
            document.getElementById('btnGuardar').hidden = true
        }
        function openForm() {
            document.getElementById("myForm").hidden = false;
        }
        function closeForm() {
            document.getElementById("myForm").hidden = true;
        }
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{'feed'}}">ACUARIOFILIA</a>
            <form class="d-flex" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                <input class="form-control me-2" type="search" name="palabra" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success bg-primary bg-dark" type="submit">Search</button>
            </form>

            <div class="contenedorInfoPerfil" id="">
                <!-- falta corrgir -->
                <div class="infoPerfil">
                    {% if 'id' in session %}
                    <a  href="{{url_for('perfil', codigo = session['id']) }}">
                        <img src="../static/images/perfil/{% print(psel[9]) %}" alt="">
                    </a>
                    <span class="navbar-text p-2 bd-highlight"> {{ session['fullname'] }} </span>
                    <!-- hay un bug en el logout realmente no cierra la sesion -->
                    <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Logout</a> </span>
                    {% else %}
                    <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Login</a> </span>
                    <!-- <span class="navbar-text p-2 bd-highlight"> <a href="{{'registro'}}">Registro</a> </span> -->
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="profile-nav col-md-3">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#">
                                <img src="../static/images/perfil/{% print(psel[9]) %}" alt="">
                            </a>
                            <h1>{%print(psel[1]+" "+ psel[2])%}</h1>
                            <p>{%print(psel[3])%}</p>
                            <h2>{%print(psel[12])%}</h2>
                        </div>
                        <div class="menu">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="{{'feed'}}"> <i class="fas fa-home"></i>Inicio</a></li>
                                {% if session['id']==psel[0] %}
                                    <li><a href=""></a> <i class="fa fa-pencil" aria-hidden="true"></i><input type="button" class ="btnhabilitar" value="Editar Perfil" onclick="habilitarCampos()"></li>
                                    
                                {% endif %}
                                {% if session['rol']==1 %}
                                    <li><a href="{{url_for('makeAdmin', userId = psel[0] ) }}"> <i class="fa fa-edit"></i> Ascender a administrador</a></li>
                                {% endif %}
                                {% if session['rol']==1 %}
                                    <li><a href="{{url_for('deleteUser', userId = psel[0] ) }}"> <i class="fa fa-user-times"></i> Borrar Perfil</a></li>
                                {% endif %}
                                <li><a onclick="openForm()"> <i class="fa fa-envelope"></i>Send Message</a></li>
                                {% if session['id']!=psel[0] %}
                                    
                                
                                {% endif %}
                                
                            </ul>
                            <div class="chat-popup" id="myForm" >
                                <form class="form-container" form action="{{url_for('sendmes', codigo = psel[0])}}" method="post"
                                    enctype="multipart/form-data">
                                    <textarea placeholder="Type message.." name="msg" required></textarea>
                                    <button type="submit" class="btn" onclick="closeForm()">Send </button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-info col-md-9">

                    <div class="panel">
                        <form class="datosPersonales" form action="{{ url_for('editProfile') }}" method="post" enctype="multipart/form-data"></form>
                        <h1>Informacion personal</h1> 
                        <div class="row">
                                <div class="bio-row">
                                    <label for="nombre">Nombre </label>
                                    <input type="text" name="nombre" id="nombre" value="{%print(psel[1])%}" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="apellido">Apellido </label>
                                    <input type="text" name="apellido" id="apellido" value="{%print(psel[2])%}" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="pais">Pais </label>
                                    <input type="text" name="pais" id="pais" value="{%print(psel[10])%}" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="nacimiento">Fecha Nacimiento</label>
                                    <input type="text" name="nacimiento" id="nacimiento" value="{%print(psel[5])%}" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="profesion">Profesion</label>
                                    <input type="text" name="profesion" id="profesion" value="UI Designer" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" value="{%print(psel[3])%}" disabled>
                                </div>
                                <div class="bio-row">
                                    <label for="telefono">Telefono</label>
                                    <input type="text" name="telefono" id="telefono" value="{%print(psel[11])%}" disabled>
                                </div>
                                <input type="submit" value="Guardar Cambios" id="btnGuardar" disabled hidden>
                            </div> 
                        </form>
                        {% if session['id']==psel[0] %}
                            <div class="panel-body bio-graph-info">
                                <h1>Mensajes</h1>
                                {% if msgs == 'vacio' %}
                                    <h4>Tu bandeja esta vacia.</h4>
                                {% else%}
                                    {% for msg in msgs %}
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="action"><input type="checkbox" /></td>
                                                        <td class="action"><i class="fa fa-star-o"></i></td>
                                                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                                                        <td class="name"><a
                                                                href="{{url_for('perfil', codigo = msg[3]) }}">{%print(msg[1])%}</a>
                                                        </td>
                                                        <td class="subject">{%print(psel[1])%}</td>
                                                        <td class="time">08:30 PM</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                        {%endif%}
                            </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
</html>