<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Post</title>
        <link href="../static/css/post_style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6880bc3485.js" crossorigin="anonymous"></script>
        <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{'feed'}}">ACUARIOFILIA</a>
                    <form class="d-flex" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                        <input class="form-control me-2" type="search" name="palabra" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success bg-primary bg-dark" type="submit">Search</button>
                    </form>
                    
                    <div class="" id=""> <!-- falta corrgir -->
                        <div class="">
                            {% if 'id' in session %}
                                <span class="navbar-text p-2 bd-highlight"> {{ session['fullname'] }} </span>
                                <!-- hay un bug en el logout realmente no cierra la sesion -->
                                <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Logout</a> </span>
                            {% else %}
                                <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Login</a> </span>
                                <!-- <span class="navbar-text p-2 bd-highlight"> <a href="{{'registro'}}">Registro</a> </span> -->
                            {% endif %}       
                        </div>
                    </div>
                </div>
            </nav>



        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <header>
            {% block header %}  {% endblock %}
        </header>

        {% block contenido %}
            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for mensaje in mensajes %}
                                {{mensaje}}
                        {% endfor %}                                      
                    <button onclick="delete_flash(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>      
                {% endif %}
            {% endwith %}
            <script>
                function delete_flash(flash) {
                    $(flash).parent().remove()
                }
            </script>
                
        {% endblock %}
        <div class="container  bootstrap snippets bootdey">
            <div class="fila">
                <div class="colunam-md-12">
                    <div class="post-content ">
                        <img src="../static/images/post/{% print(postsel[0][1]) %}" class="img-fluid" alt=" image">
                            <div class="post-container">
                                <img src="../static/images/perfil/{% print(postsel[0][15]) %}" alt="user" class="fotoperfil-md-left">
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="{{url_for('perfil', codigo = postsel[0][4]) }}" class="profile-link">{% print(postsel[7]) %}</a> <span class="following">following</span></h5>
                                        <p class="text-muted">Publicada {% print(postsel[3]) %}</p>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p>{% print(postsel[3]) %}  </p>
                                     </div>
                                    <div class="line-divider"></div>
                                    {% for com in comPost %}
                                        <div class="post-comment">
                                            <img src="../static/images/perfil/{% print(com[14]) %}" alt="" class="profile-photo-sm">
                                            <p><a href="{{url_for('perfil', codigo = com[3]) }}" class="profile-link">{% print(com[6]) %} {% print(com[7]) %}</a> {% print(com[1]) %} </p>
                                        </div>
                                    {% endfor %}
                                    <div class="post-comment">
                                        <img src="../static/images/perfil/{% print(session['foto']) %}" alt="" class="profile-photo-sm">
                                        <form class="flex" form action="{{url_for('addcomm', codigo = postsel[0][0])}}" method="post" enctype="multipart/form-data">
                                            <input class="form-control form-control-user" name="postselect" id="postselect" value=postsel[0][0] hidden>        
                                            <textarea class="form-control form-control-user" name="comentario" id="comentario" placeholder="Comentar algo"></textarea>
                                            <div class="col">
                                                <button class="btn btn-outline-dark" type="submit">Enviar</button>
                                            </div>
                                        </form>
                                    </div>

                                    
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>    
</html>