<!DOCTYPE html>

<html lang="es">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acuariofilia - Resultado de busqueda</title>
        <link href="../static/css/search_style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6880bc3485.js" crossorigin="anonymous"></script>
        <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
        <link href='/static/img/favicon.png' rel='shortcut icon' type='image/x-icon'/>
    </head>

{% block body %}
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for mensaje in mensajes %}
                        {{mensaje}}
                {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{'feed'}}">ACUARIOFILIA</a>
                <form class="d-flex" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                    <input class="form-control me-2" type="search" name="palabra" placeholder="Search" aria-label="Search" hidden >
                    <button class="btn btn-outline-success bg-primary bg-dark" type="submit" hidden>Search</button>
                </form>

                <div class="" id=""> <!-- falta corrgir -->
                    <div class="">
                        {% if 'id' in session %}
                            <span class="navbar-text p-2 bd-highlight"> {{ session['fullname'] }} </span>
                            <!-- hay un bug en el logout realmente no cierra la sesion -->
                            <span class="navbar-text p-2 bd-highlight"> <a href="{{'logout'}}">Logout</a> </span>
                        {% else %}
                            <span class="navbar-text p-2 bd-highlight"> <a href="{{'login'}}">Login</a> </span>
                            <!-- <span class="navbar-text p-2 bd-highlight"> <a href="{{'registro'}}">Registro</a> </span> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <br/>
            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form class="card card-sm" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-search h4 text-body"></i>
                                            </div>
                                            <!--end of col-->
                                            <form class="d-flex" form action="{{url_for('search')}}" method="post" enctype="multipart/form-data">
                                                <div class="col">
                                                    <input class="form-control form-control-lg form-control-borderless" name="palabra" type="search" placeholder="Busca personas">
                                                </div>
                                                <!--end of col-->
                                                <div class="col-auto">
                                                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                                                </div>
                                            <!--end of col-->
                                            </form>
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
            </div>
            <br>
            <div  iv class="container">
                <div class="row ng-scope">
                    <div class="col-md-3 col-md-push-9">
                        <ul class= "list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">Personas <span class="badge bg-primary rounded-pill">34</span></a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">Publicaciones <span class="badge bg-primary rounded-pill">9</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-md-pull-3">
                        <p class="search-results-count">Cerca de 94 700 000 resultados (0.39 sec.) </p>
                        {% for pfound in Sresult %}
                            <section class="search-result-item">
                                <a class="image-link" href="{{url_for('perfil', codigo = pfound[0]) }}"><img class="image" src="static/images/Perfil/{% print(pfound[7]) %}">
                                </a>
                                <div class="search-result-item-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h4 class="search-result-item-heading"><a href="{{url_for('perfil', codigo = pfound[0]) }}">{%print(pfound[1]+" "+ pfound[2])%}</a></h4>
                                            <p class="info">{%print(pfound[3])%}</p>
                                            <p class="info">{%print(pfound[4] +", Compartiendo desde: " + pfound[6])%}</p>
                                            <p class="description">{%print(pfound[8])%}</p>
                                        </div>
                                        <div class="col-sm-3 text-align-center">
                                        <p class="fs-mini text-muted">2,898 publicaciones</p><a class="btn btn-primary btn-info btn-sm" href="{{url_for('perfil', codigo = pfound[0]) }}">Ver perfil</a>
                                        {% if session['rol']== 1 %}
                                            <a class="btn btn-danger btn-info btn-sm" id="borrarusuario" href="{{url_for('deleteUser', userId = pfound[0] ) }}">Eliminar</a>
                                            <!-- al eliminar deja al usuario en search que es donde estaba, sin embargo el mensaje de flash lo esta mandando en el feed o en la siguiten pagina que renderice -->
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        {% endfor %}

                        {% for pub in posts %}
                        {%if pub[4] != session['id']%}
                            <div class="novedad">
                                <h2 class="titulo">{% print(pub[2]) %}</h2>
                                <p class="texto">{% print(pub[3]) %}</p>
                                <a href="{{url_for('postdetail', codigo = pub[0]) }}">
                                    <img src="static/images/Post/{% print(pub[1]) %}"  alt="Card image cap">
                                <div class="botones">
                                    <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="comentario"><i class="fas fa-comment"></i> </a>
                                    {% print(pub[4]) %}
                                    <a role="enlace" href="{{url_for('postdetail', codigo = pub[0]) }}" class="favoritos"><i class="fas fa-heart"></i> </a>
                                    {% print(pub[4]) %}

                                    <button role="button" class="retweets"><i class="fas fa-trash"></i> 100</button>

                                </div>
                            </div>
                        {%endif%}
                    {% endfor %}

                        <div class="text-align-center">
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="#">Prev</a>
                                </li>
                                <li class="active"><a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li><a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
</html>
